.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px;
}

.board-title {
    font-size: 3rem;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
}